.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    overflow: hidden;
    background-color: transparent;
}

.teamField {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
}

.top {
    grid-row: 1;
    background-color: orange;
}

.bottom {
    grid-row: 3;
    background-color: blue;
    color: white;
}